<%- include('blocks/head', { title: 'Error' }) -%>
<%- include('blocks/startbody') -%>

<h3 class="ui center aligned header"><%= error.status %> - <%= message %></h3>
<div class="ui text container">
    <pre><%= error.stack %></pre>
</div>

<%- include('blocks/scripts') -%>
<%- include('blocks/endbody') -%>
<%- include('blocks/endhtml') -%>
