<%- include('../blocks/head', { title: 'New Channel' }) -%>
<%- include('../blocks/startbody') -%>
<%- include('../blocks/menu') -%>

<%- include('../blocks/startbreadcrumbs') -%>
<a href="<%= self.url('channels') %>" class="section">Channels</a>
<i class="right angle icon divider"></i>
<div class="active section">New channel</div>
<%- include('../blocks/endbreadcrumbs') -%>

<%- include('../blocks/messages') -%>

<div class="ui container">
    <div class="ui segment">
        <form class="ui form" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div class="required field">
                <label>Author:</label>
                <div class="ui search selection" data-search="author">
                    <div class="ui left icon input">
                        <input type="text" class="prompt" value="" placeholder="Search author..." required>
                        <input type="hidden" name="authorId" value="" required>
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Title:</label>
                <input type="text" name="title" placeholder="Channel title" value="<%= title %>" required>
            </div>
            <div class="required field">
                <label>Status:</label>
                <select name="status" required>
                    <% ['pending', 'blocked', 'active'].forEach(item => { %>
                        <option value="<%= item %>" <% if (status === item) { %>selected<% } %>><%= item %></option>
                    <% }) %>
                </select>
            </div>
            <div class="field">
                <label>Description:</label>
                <textarea name="description" placeholder="Channel description"><%= description %></textarea>
            </div>
            
            <button class="ui button" type="submit">Save</button>
        </form>
    </div>
</div>

<%- include('../blocks/scripts') -%>

<script>
    $('[data-search="author"]').search({
        apiSettings: {
            url: '<%= decodeURI(self.url('authors/search', { q: '{query}' })) %>'
        },
        fields: {
            results: 'items',
            title: 'name'
        },
        minCharacters: 1,
        onSelect: function (result) {
            $('[name="authorId"]').val(result.value);
        }
    });
</script>

<%- include('../blocks/endbody') -%>
<%- include('../blocks/endhtml') -%>
