<%- include('../blocks/head', { title: 'Categories' }) -%>
<%- include('../blocks/startbody') -%>
<%- include('../blocks/menu') -%>

<%- include('../blocks/startbreadcrumbs') -%>
<div class="active section">Categories</div>
<%- include('../blocks/endbreadcrumbs') -%>

<%- include('../blocks/messages') -%>

<div class="ui container">
    <table class="ui celled table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created</th>
            <th>Updated</th>
            <th class="right aligned">
                <a href="<%= self.url('categories/add') %>" class="ui teal labeled icon button">
                    <i class="add icon"></i> <span>Add new</span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <% rows.forEach(item => { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.createdAt.toLocaleString() %></td>
            <td><%= item.updatedAt.toLocaleString() %></td>
            <td class="right aligned">
                <div class="ui buttons">
                    <a href="<%= self.url('categories/:id/edit', { ':id': item.id }) %>" class="ui brown labeled icon button">
                        <i class="edit icon"></i> <span>Edit</span>
                    </a>
                    <a href="<%= self.url('categories/:id/remove', { ':id': item.id }) %>" class="ui red right labeled icon button">
                        <i class="remove icon"></i> <span>Remove</span>
                    </a>
                </div>
            </td>
        </tr>
        <% }) %>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">
                <div class="ui right floated pagination menu">
                    <%- include('../blocks/pagination', {
                        url: 'categories',
                        page: page,
                        count: count,
                        limit: limit
                    }) -%>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

<%- include('../blocks/scripts') -%>
<%- include('../blocks/endbody') -%>
<%- include('../blocks/endhtml') -%>
