<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title><%= title %> - Admin</title>
    <link rel="stylesheet" type="text/css" href="<%= self.asset('components/semantic/dist/semantic.css') %>">
</head>