<div class="ui stackable container pointing menu">
    <div class="item">
        <img src="<%= self.asset('images/logo.png') %>">
    </div>
    <a href="<%= self.url('authors') %>" class="item">Authors</a>
    <a href="<%= self.url('channels') %>" class="item">Channels</a>
    <a href="<%= self.url('videos') %>" class="item">Videos</a>
    <a href="<%= self.url('categories') %>" class="item">Categories</a>
    <a href="<%= self.url('tags') %>" class="item">Tags</a>
    <div class="right menu">
        <a href="<%= self.url('logout') %>" class="item">Logout</a>
    </div>
</div>