<%
    if (typeof urlOptions === 'undefined') {
        var urlOptions = {};
    }
    var pages = Math.ceil(count / limit);
%>

<% if (pages > 1) { %>
    <% if (page > 1) { %>
        <a class="icon item" href="<%= self.url(url, Object.assign(urlOptions, { page: page-1 })) %>">
            <i class="left chevron icon"></i>
        </a>
    <% } %>
    <% [3, 2, 1].forEach(p => { %>
        <% p = page - p %>
        <% if (pages >= p && p > 0) { %>
            <a class="item" href="<%= self.url(url, Object.assign(urlOptions, { page: p })) %>"><%= p %></a>
        <% } %>
    <% }) %>
    <a class="item active" href="<%= self.url(url, Object.assign(urlOptions, { page: page })) %>"><%= page %></a>
    <% [1, 2, 3].forEach(p => { %>
        <% p = page + p %>
        <% if (pages >= p && p > 0) { %>
            <a class="item" href="<%= self.url(url, Object.assign(urlOptions, { page: p })) %>"><%= p %></a>
        <% } %>
    <% }) %>
    <% if (pages > page) { %>
        <a class="icon item" href="<%= self.url(url, Object.assign(urlOptions, { page: page+1 })) %>">
            <i class="right chevron icon"></i>
        </a>
    <% } %>
<% } %>