<%- include('../blocks/head', { title: 'Edit tag' }) -%>
<%- include('../blocks/startbody') -%>
<%- include('../blocks/menu') -%>

<%- include('../blocks/startbreadcrumbs') -%>
<a href="<%= self.url('tags') %>" class="section">Tags</a>
<i class="right angle icon divider"></i>
<div class="active section">Edit tag #<%= tag.id %></div>
<%- include('../blocks/endbreadcrumbs') -%>

<%- include('../blocks/messages') -%>

<div class="ui container">
    <div class="ui segment">
        <form class="ui form" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div class="required field">
                <label>Tag name:</label>
                <input type="text" name="name" placeholder="Tag name" value="<%= tag.name %>" required>
            </div>
            <button class="ui button" type="submit">Save</button>
        </form>
    </div>
</div>

<%- include('../blocks/scripts') -%>
<%- include('../blocks/endbody') -%>
<%- include('../blocks/endhtml') -%>
